html {
    font-family: 'Roboto', sans-serif;
}

/* Header Section*/

header {
    display: block;
    width: 100%;
    height: 64px;
    padding: 10px 24px;
    box-sizing: border-box;
}

header .container {
    display: flex;
    align-items: center;
    margin: 3px 0;
}

.container .logo-container {
    display: flex;
    flex: 1;
}

.logo-container h2 {   
    margin: 0 5px;
    box-sizing: border-box;
}
.logo-container span {
    font-weight: lighter;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
}

header .nav-buttons ul {
    display: flex;
    list-style: none;
    vertical-align: baseline;
    margin: 10px auto;
}

ul li {
    padding-left: 1rem;
}


/* Hero Secion */

.hero {
    display: block;
}

.hero .content {
    display: flex;
    background-color: lightgray;
    align-items: center;
}

.hero img {
    margin: 32px 24px;
    max-width: 60%;
}

.hero .text {
    margin: 0 24px;
}

.hero h1 {
    color: #4a4a4a;
    font-size: 3rem;
    font-weight: 900;
}

.hero h2 {
    color: #4a4a4a;
    font-weight: 500;
}

.hero .button {
    margin: 40px auto;
    padding: .5rem 0;
    background-color: #4a4a4a;
    text-align: center;
}

.button p {
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0;
}